*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

main {
  background-color: blue;
  margin: 4em; }

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.payment {
  color: blanchedalmond;
  font-size: 3.5rem; }
  .payment--layout {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center; }
  .payment__icon {
    width: 4%; }
  .payment__icon img {
    width: 100%; }

.payment > * {
  padding-right: .5em; }

.payments--total {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5em; }

.initial--wrapper {
  width: 100%;
  margin-bottom: 10em; }

.initial {
  font-size: 2rem;
  padding: .5em;
  background-color: wheat;
  text-align: center; }
  .initial--layout {
    width: 50%;
    margin: 0 auto; }

.asset {
  color: blanchedalmond;
  font-size: 3.5rem; }
  .asset--layout {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center; }
  .asset__icon {
    width: 4%; }
  .asset__icon img {
    width: 100%; }

.asset > * {
  padding-right: .5em; }

.assets--total {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5em; }

.spend--wrapper {
  width: 100%;
  margin-top: 10em; }

.spend {
  font-size: 2rem;
  padding: .5em;
  background-color: wheat;
  text-align: center; }
  .spend--layout {
    width: 50%;
    margin: 0 auto; }

.user {
  background-color: lightpink; }

.current-salary {
  background-color: lightseagreen; }

.remain-income {
  padding: 2rem;
  background-color: lightskyblue; }

.total-budget {
  padding: 2rem;
  background-color: lime; }
