*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  line-height: 1.6;
  letter-spacing: .4em; }

a {
  text-decoration: none;
  color: #ECFFFF; }

header {
  position: relative; }

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4em; }

main {
  margin: 4em; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.buttons {
  margin: 2em 0 10em 0; }

.button {
  font-weight: 600; }
  .button--layout {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .button__clear {
    background: #fc4a1a;
    background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
    background: linear-gradient(to bottom, #f7b733, #fc4a1a); }
  .button__add {
    background: #11998e;
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
    background: linear-gradient(to bottom, #38ef7d, #11998e); }
  .button__remove {
    background: #FF416C;
    background: -webkit-linear-gradient(to bottom, #FF4B2B, #FF416C);
    background: linear-gradient(to bottom, #FF4B2B, #FF416C); }
  .button__edit {
    background: #D66D75;
    background: -webkit-linear-gradient(to bottom, #E29587, #D66D75);
    background: linear-gradient(to bottom, #E29587, #D66D75); }
  .button__clear-icon, .button__add-icon, .button__remove-icon, .button__edit-icon, .button__add-income-icon {
    width: 15%;
    display: flex; }
  .button__clear-icon img,
  .button__add-icon img,
  .button__remove-icon img,
  .button__edit-icon img,
  .button__add-income-icon img {
    width: 100%; }
  .button > * {
    font-size: 2.5rem;
    padding: .5em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 10%;
    box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.2), 10px 10px 30px 4px rgba(45, 78, 255, 0.25); }
  .button > :active {
    box-shadow: inset -12px -8px 40px #464646; }

.pre-authorized {
  color: #ECFFFF;
  background-color: #0C9BF2; }

.loan {
  color: #ECFFFF;
  background-color: #E95F86; }

.short {
  color: #ECFFFF;
  background-color: #21CEBA; }

.long {
  color: #ECFFFF;
  background-color: #FEA201; }

.invest {
  color: #ECFFFF;
  background-color: #00C970; }

.payment {
  font-size: 3.5rem;
  padding: .5em;
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.2), 10px 10px 30px 4px rgba(45, 78, 255, 0.25); }
  .payment--layout {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .payment--wrapper {
    display: flex; }
  .payment__icon {
    width: 5%; }
  .payment__icon img {
    width: 100%; }
  .payment > :not(:last-child) {
    padding-right: .5em; }
  .payment:active {
    box-shadow: 0 -20px 15px -10px rgba(255, 255, 0, 0.3) inset, 0 20px 15px -10px rgba(255, 255, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.1); }

.payments {
  min-width: 25%; }

.initial {
  font-size: 2.5rem;
  padding: .5em;
  text-align: center;
  color: #ECFFFF;
  background-color: #009DC6;
  font-weight: 600; }
  .initial--layout {
    width: 50%;
    margin: 0 auto; }
  .initial__amount, .initial__icon {
    font-size: 4rem; }
  .initial--wrapper {
    width: 100%; }

.asset {
  font-size: 3.5rem;
  padding: .5em;
  box-shadow: 0px 10px 30px 4px rgba(0, 0, 0, 0.2), 10px 10px 30px 4px rgba(45, 78, 255, 0.25); }
  .asset--layout {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .asset--wrapper {
    display: flex; }
  .asset__icon {
    width: 7%; }
  .asset__icon img {
    width: 100%; }
  .asset > :not(:last-child) {
    padding-right: .5em; }

.assets {
  min-width: 25%; }

.spend {
  font-size: 2rem;
  padding: .5em;
  color: #ECFFFF;
  background-color: #009DC6;
  font-weight: 600;
  text-align: center; }
  .spend--layout {
    width: 50%;
    margin: 0 auto; }
  .spend__amount, .spend__icon {
    font-size: 4rem; }
  .spend--wrapper {
    width: 100%;
    margin-top: 10em; }

.user {
  font-size: 4rem;
  text-align: center;
  padding: 1em 0;
  background-color: #009DC6;
  color: #ECFFFF; }
  .user__name {
    font-size: 5rem; }

.current-salary {
  font-size: 1.5rem;
  text-align: center;
  padding: 2em;
  font-weight: 600;
  background-color: lightseagreen;
  color: #ECFFFF; }
  .current-salary__amount, .current-salary__icon {
    font-size: 4rem; }

.remain-income {
  font-size: 1.5rem;
  text-align: center;
  padding: 2em;
  background-color: lightseagreen;
  color: #ECFFFF; }
  .remain-income__amount, .remain-income__icon {
    font-size: 4rem; }

.total {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .total__payments {
    color: #ECFFFF;
    font-size: 2rem;
    text-align: center;
    margin-top: 5em;
    padding: 2em;
    background-color: #FD013C;
    font-weight: 600; }
  .total__assets {
    color: #ECFFFF;
    font-size: 2rem;
    text-align: center;
    margin-top: 5em;
    padding: 2em;
    background-color: #00C970;
    font-weight: 600; }
  .total__amount, .total__icon {
    font-size: 3.5rem; }

.logo--layout {
  display: flex;
  align-items: center;
  position: absolute;
  top: .5rem;
  left: 4rem; }

.logo__icon {
  width: 25%;
  display: flex; }

.logo__icon img {
  width: 100%; }

.logo__name {
  font-size: 2rem;
  line-height: 1;
  color: #ECFFFF; }
