
@mixin salar {
    .current-salary {
        background-color: lightseagreen;
    }
}

@mixin changeParameters($color) {
    // padding: 2rem;
    background-color: $color;
}

@mixin listStyle {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 5em;
}
