
@mixin salar {
    .current-salary {
        background-color: lightseagreen;
    }
}

@mixin changeParameters($color) {
    background-color: $color;
}

@mixin listColor ($color) {
    color: $color-primary-text;
    background-color: $color;
}

@mixin dataStyles ($color) {
    color: $color-primary-text;
    font-size: 2rem;
    text-align: center;
    margin-top: 5em;
    padding: 2em;
    background-color: $color;
    font-weight: 600;
    
}

@mixin flexLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

