
// Colors-----------
$color-primary: #009DC6;
$color-primary-text: #ECFFFF;
// $color-secondory: #FEA201;
// $color-secondory-text: #4A575F;
$color-pre-authorized: #0C9BF2;
$color-loan: #E95F86;
$color-short-term: #21CEBA;
$color-long-term:  #FEA201;
$color-invest: #00C970;
$color-total-pay: #FD013C;
$border-color: #2C5364;


// Font-sizes-----------
$amount-fs: 4rem;
$total-amount-fs: 3.5rem;




// BUTTON EFFECT
// &::before {
//   content: 'hello';
//   position: absolute;
//   align-items: center;
//   top: -50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: black;
//   transition: all 0.5s ease;

//   transition: top 0.5s ease;
//   visibility: hidden;
// }

// &:hover::before {
//   transition: all 0.5s ease;

//   transition: top 0.5s ease;
//   top: 50%;
//   visibility: visible;
// }

// &::after {
//   content: 'world';
//   position: absolute;
//   bottom: 50%;
//   right: 50%;
//   transform: translate(50%, 50%);
//   transition: all 0.5s ease;

//   transition: bottom 0.5s ease;
//   background-color: black;
//   visibility: visible;
// }

// &:hover::after {
//   transition: all 0.5s ease;

//   transition: bottom 0.5s ease;
//   bottom: -50%;
//   visibility: hidden;
// }