
// Colors-----------
$color-primary: #009DC6;
$color-primary-text: #ECFFFF;
// $color-secondory: #FEA201;
// $color-secondory-text: #4A575F;
$color-pre-authorized: #0C9BF2;
$color-loan: #E95F86;
$color-short-term: #21CEBA;
$color-long-term:  #FEA201;
$color-invest: #00C970;
$color-total-pay: #FD013C;


$color-test: lightseagreen;

// Background Colors------
// $bg-add-button:
// background: #11998e;  
// background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  
// background: linear-gradient(to top, #38ef7d, #11998e); 



// Font-sizes-----------
$amount-fs: 4rem;
$total-amount-fs: 3.5rem;


.wrap {
    // flex: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    // background:
    //   radial-gradient(at 50% 0, black, transparent 70%),
    //   linear-gradient(0deg, black, transparent 50%) bottom;
    // background-size: 100% 15px;
    // background-repeat: no-repeat;
    background-color: $color-primary;
    width: 100%;
  }
  
  .user {
    //   width: 6em;
      text-align:center;
      font-size:30px;
      width: 40%;
        margin: 0 auto;
  }
  
  .user::after {
    content: '\00a0';
    background-image:
    radial-gradient(at 50% 0, blue 0%, red 50%, transparent 75%);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    float:left;
    width:100%;
  }