
// Colors-----------
$color-primary: #009DC6;
$color-primary-text: #ECFFFF;
$color-secondory: #FEA201;
$color-secondory-text: #4A575F;
$color-pre-authorized: #0C9BF2;
$color-loan: #E95F86;
$color-short-term: #21CEBA;
$color-long-term:  #FEA201;
$color-invest: #00C970;
$color-total-pay: #FD013C;
$color-button: #AEB3C3;


// Font-sizes-----------
$amount-fs: 4rem;
$total-amount-fs: 3.5rem;

