
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// @import "components/payment";

@import "layout/main";
@import "layout/payment";
@import "layout/initial";
@import "layout/assets";


@import "pages/home";





.payments,
.assets {
    
}

.payments--total,
.assets--total {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
}




.user {
    background-color: $color-primary;
}

// .current-salary {
//     background-color: lightseagreen;
// }

@include salar;

.remain-income {
    // background-color: lightskyblue;
    @include changeParameters(lightskyblue);
}

.total-budget {
    // background-color: lime;
    @include changeParameters(lime);
}