
.asset {
    color: blanchedalmond;
    font-size: 3.5rem;

    &--layout {
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 10%;
    }

    &__icon img {
        width: 100%;
    }
}

.asset > * {
    padding-right: .5em;
    
}


.assets {

    &--total {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 5em;
    }

    &__amount {
        font-size: 3.5rem;
    }

    &__icon {
        font-size: 3.5rem;
    }
}






