
.asset {
    font-size: $total-amount-fs;
    padding: .5em;
    @include box-shadow;
    border-radius: 4rem;

    &--layout {
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &--wrapper {
        display: flex;
    }

    &__icon {
        width: 7%;
    }

    &__icon img {
        width: 100%;
    }

    & > :not(:last-child) {
        padding-right: .5em;
        
    }

    @include mediaPaymentInvest;
}

.assets {
    // min-width: 25%;
    margin-top: 5em;
}



