
.initial {
    font-size: 2.5rem;
    padding: .5em;
    text-align: center;
    @include listColor ($color-primary);
    font-weight: 600;

    &--layout {
        width: 50%;
        margin: 0 auto;
    }

    &__amount,
    &__icon {
        font-size: $amount-fs;
    }

    &--wrapper {
        width: 100%;
    }

    @include box-label;
}
