
.initial--wrapper {
    width: 100%;
    margin-bottom: 5rem;
}

.initial {
    font-size: 2rem;
    padding: .5em;
    // padding: 1rem;
    background-color: wheat;
    text-align: center;

    &--layout {
        width: 50%;
        margin: 0 auto;
    }
}
