
.payment {
    color: blanchedalmond;
    font-size: $total-amount-fs;

    &--layout {
        margin-top: 1em;
        @include flexLayout;
    }

    &__icon {
        width: 10%;
    }

    &__icon img {
        width: 100%;
    }

    & > * {
        padding-right: .5em;
        
    }
}

.payments {

    &--total {
        @include dataStyles;
    }

    &__amount,
    &__icon {
        font-size: $total-amount-fs;
    }
}




