
.payment {
    font-size: $total-amount-fs;
    padding: .5em;
    @include box-shadow;
    border-radius: 4rem;

    position: relative;
    

    &--layout {
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--wrapper {
        display: flex;
    }
    
    &__icon {
        width: 5%;
        display: flex;
    }

    &__icon img {
        width: 100%;
    }

    & > :not(:last-child) {
        padding-right: .5em;
        
    }

    &::after {
        position: absolute;
        content: '\00A0';
        left: 95%;
        // background-color: black;
        width: 0;
        height: 0;
        border: 3px solid transparent;
        transition: all 0.6s ease;
    }
    
    &:hover::after {
        width: 95%;
        height: 4%;
        left: 0;
        border: 3px solid #2D3E50;
    }

    &:hover {
        transition: all .6s ease 1s;
        opacity: 0;        
    }

    &:focus {
        box-shadow: 0 0 35px black;
        outline: none;
    }

    &:active {
        box-shadow: 0 -20px 15px -10px rgba(255, 255, 0, 0.3) inset,
                    0 20px 15px -10px rgba(255, 255, 0, 0.3) inset,
                    0 0 10px rgba(0, 0, 0, 0.1);

    }

    @include mediaPaymentInvest;
}

.payments {
    min-width: 35%;
    // max-width: 35%;

}

.chart {
    min-width: 65%;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 2000px) {
        width: 100%;
        margin-top: 5em;
        // justify-content: space-evenly; 
    }
}

// @keyframes myAnimation{
//     0%{
//       opacity: 1;
//       transform: rotateX(90deg);
//     }
//     50%{
//       opacity: 0.5;
//       transform: rotateX(0deg);
//     }
//     100%{
//       display: none;
//       opacity: 0;
//       transform: rotateX(90deg);
//     }
//   }
  
//   #myelement{
//       animation-name: myAnimation;
//       animation-duration: 2000ms;
//       animation-fill-mode: forwards;
//   }



