
.payment {
    font-size: $total-amount-fs;
    padding: .5em;

    &--layout {
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--wrapper {
        display: flex;
    }
    
    &__icon {
        width: 5%;
    }

    &__icon img {
        width: 100%;
    }

    & > :not(:last-child) {
        padding-right: .5em;
        
    }
}

.payments {
    min-width: 25%;
}



