
.payment {
    color: blanchedalmond;
    font-size: 3.5rem;
    // padding-left: .75em;
    

    &--layout {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 4%;
    }

    &__icon img {
        width: 100%;
    }
}

.payment > * {
    padding-right: .5em;
    
}

