
.spend--wrapper {
    width: 100%;
    margin-top: 10em;
}

.spend {
    font-size: 2rem;
    padding: .5em;
    background-color: wheat;
    text-align: center;

    &--layout {
        width: 50%;
        margin: 0 auto;
    }
}

