
.total {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__payments {
        @include dataStyles ($color-total-pay);
    }

    &__assets {
        @include dataStyles ($color-invest);
    }
    

    &__amount,
    &__icon {
        font-size: $total-amount-fs;
    }
}

