
.total {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5em;

    &__payments {

        @include box-shadow;
        @include dataStyles;
        margin-top: 4.5em;
        background-color: $color-total-pay;

        &:focus {
            box-shadow: 0px 0px 30px $color-total-pay;
        }
        &:active {
            box-shadow: 0px 0px 0px $color-total-pay;
        }
    }

    &__assets {
        
        @include box-shadow;
        @include dataStyles;
        margin-top: 4.5em;
        background-color: $color-invest;

        &:focus {
            box-shadow: 0px 0px 30px $color-invest;
        }
        &:active {
            box-shadow: 0px 0px 0px $color-invest;
        }
    }
    

    &__amount,
    &__icon {
        font-size: $total-amount-fs;
    }

    @include mediaTotals;
}

