.user {
    font-size: $amount-fs;
    text-align: center;
    padding: 1em 0;
    background-color: $color-primary;
    color: $color-primary-text;

    &__name {
        font-size: 5rem;
    }
}


.current-salary {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    font-weight: 600;
    background-color: $color-test;
    color: $color-primary-text;


    &__amount,
    &__icon {
        font-size: $amount-fs;
    }
}


.remain-income {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    background-color: $color-test;
    color: $color-primary-text;

    &__amount,
    &__icon {
        font-size: $amount-fs;
    }
}




