.user {
    width: 40%;
    margin: 0 auto;
    font-size: $amount-fs;
    text-align: center;
    // padding: 1em 0;
    padding-top: 1em;
    color: $color-primary-text;

    &--wrapper {
        // background-color: $color-primary;
        width: 100%;
        // background-image: linear-gradient(to bottom, #141e30, #243b55);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
    }

    &::after {
        content: '\00a0';
        display: table;
        width:100%;
        background-image:radial-gradient(at 50% 0, blue 0%, red 50%, transparent 75%);
        background-size: 100% 3px;
        background-repeat: no-repeat;
    }

    &__name {
        font-size: 5rem;
        text-transform: capitalize;
    }
}


// background: #0F2027;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */



.current-salary {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    // margin-top: 1em;
    font-weight: 600;
    border-radius: 10px;
    color: $color-primary-text;
    // text-shadow: 1px 1px 0px $color-primary-text;
    background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);
    background: linear-gradient(to bottom, #00CDAC, #02AAB0);
    outline: none;

    &:focus {
        box-shadow: 0px 0px 15px $color-primary-text;
    }
    &:active {
        box-shadow: 0px 0px 0px $color-primary-text;
    }

    &__amount,
    &__icon {
        font-size: $amount-fs;
    }
}




.remain-income {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    // margin-top: 1em;
    color: $color-primary-text;
    border-radius: 10px;
    background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);
    background: linear-gradient(to bottom, #00CDAC, #02AAB0);
    outline: none;

    &:focus {
        box-shadow: 0px 0px 15px $color-primary-text;
    }
    &:active {
        box-shadow: 0px 0px 0px $color-primary-text;
    }

    &__amount,
    &__icon {
        font-size: $amount-fs;
    }
}




