.buttons {
    margin: 5em 0 10em 0;
}

.button {
    font-weight: 600;

    &--layout {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__clear {
        @include bg-clear-button;
        @include button-effect;

        & .clear {
            transition: all 0.6s ease;
        }


        &:hover > .clear {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:hover > .button__clear-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-140%);
        }

        &:focus > .clear {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:focus > .button__clear-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-140%);
        }
    }

    
    

    &__add {
        @include bg-add-button;
        @include button-effect;

        & .add {
            transition: all 0.6s ease;
        }

        &:hover > .add {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:hover > .button__add-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-120%);
        }

        &:focus > .add {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:focus > .button__add-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-120%);
        }
    }

    &__remove {
        @include bg-remove-button;
        @include button-effect;

        & .remove {
            transition: all 0.6s ease;
        }

        &:hover > .remove {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:hover > .button__remove-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-150%);
        }

        &:focus > .remove {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:focus > .button__remove-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-150%);
        }
    }

    &__edit {
        @include bg-edit-button;
        @include button-effect;

        & .edit {
            transition: all 0.6s ease;
        }

        &:hover > .edit {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:hover > .button__edit-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-120%);
        }

        &:focus > .edit {
            transition: all 0.6s ease;
            transform: translateX(-200%);
            color: transparent;
        }

        &:focus > .button__edit-icon {
            transition: all 0.6s ease;
            transform: scale(1.2) translateX(-120%);
        }
    }

    &__clear-icon,
    &__add-icon,
    &__remove-icon,
    &__edit-icon {
        width: 15%;
        display: flex;
        transition: all 0.6s ease;
    }

    &__clear-icon img,
    &__add-icon img,
    &__remove-icon img,
    &__edit-icon img {
        width: 100%;
    }

    @media only screen and (max-width: 2000px) {
        &__clear-icon,
        &__add-icon,
        &__remove-icon,
        &__edit-icon {
            width: 10%;
        }

        &__clear:hover > .button__clear-icon {
            transform: scale(1.5) translateX(-160%);
        }
        &__add:hover > .button__add-icon {
            transform: scale(1.5) translateX(-140%);
        }
        &__remove:hover > .button__remove-icon{
            transform: scale(1.5) translateX(-170%);
        }
        &__edit:hover > .button__edit-icon {
            transform: scale(1.5) translateX(-140%);
        }

        &__clear:focus > .button__clear-icon {
            transform: scale(1.5) translateX(-160%);
        }
        &__add:focus > .button__add-icon {
            transform: scale(1.5) translateX(-140%);
        }
        &__remove:focus > .button__remove-icon{
            transform: scale(1.5) translateX(-170%);
        }
        &__edit:focus > .button__edit-icon {
            transform: scale(1.5) translateX(-140%);
        }
    }

    & > * {
        font-size: 2.5rem;
        padding: .5em;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: 10%;
        @include box-shadow;
        
        @media only screen and (max-width: 2000px) {
            font-size: 2rem; 
            margin-right: 1em;
        }
    }

    & > :active {
        box-shadow: inset -12px -8px 40px #464646;
    }
}


