.buttons {
    margin: 2em 0 10em 0;
    
}

.button {
    // color: $color-primary-text;
    font-weight: 600;
    

    &--layout {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__clear {
        @include bg-clear-button;
    }

    &__add {
        @include bg-add-button;
    }

    &__remove {
        @include bg-remove-button;
    }

    &__edit {
        @include bg-edit-button;
    }

    &__clear-icon,
    &__add-icon,
    &__remove-icon,
    &__edit-icon,
    &__add-income-icon {
        width: 15%;
        display: flex;
    }

    &__clear-icon img,
    &__add-icon img,
    &__remove-icon img,
    &__edit-icon img,
    &__add-income-icon img {
        width: 100%;
    }

    & > * {
        font-size: 2.5rem;
        padding: .5em;
        // @include listColor ($color-button);
        // @include bg-add-button;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: 10%;
        @include box-shadow;
    }

    & > :active {
        box-shadow: inset -12px -8px 40px #464646;
    }
}


