// .payment > * {
//     color: wheat;
//     font-size: 4rem;
    
// }

.payment {
    color: blanchedalmond;
    font-size: 3.5rem;
    display: flex;
    // justify-content: center;
    align-items: center;

    &__icon {
        width: 4%;
    }

    &__icon img {
        width: 100%;
    }
}

.payment__icon {
    // width: 4%;
    // height: 20%;
}