*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    line-height: 1.6;
    letter-spacing: .4em;
    background-image: url("../icons/back.png");
}

a {
    text-decoration: none;
    color: $color-primary-text;
}

header {
    position: relative;
    background-image: linear-gradient(to bottom, #141e30, #243b55);
    padding-bottom: 8em;
}

.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    margin: 5em 4em;
}

.container {
    display: flex;
    // justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    // @media only screen and (max-width: 2000px) {
    //     justify-content: space-evenly; 
    // }
}

